<div *ngIf="peticion" >
  <h3>{{ peticion.nombre }}</h3>
  <p>{{ peticion.descripcion }}</p>
  <p>Precio:{{peticion.precio}} €</p>

  <div class="torneo" *ngIf="peticion.evento" >
    <img  *ngIf="peticion.evento.images[0]" [ngSrc]="peticion.evento.images[0].url" width="100" height="100">
    <p>
      {{peticion.evento.name}}
      <br>
    </p>
  </div>

  <br>
  <div *ngIf="conductorAceptado" >
    <h2>Tu conductor: </h2>
    <div class="usuario" class="personas_interesadas">
      <div class="botones">
        <button (click)="quitar(conductorAceptado.uid)">Quitar</button>
      </div>
      <div class="usuario" (click)="irAPerfilConductor(conductorAceptado.uid)">
        <img [ngSrc]="conductorAceptado.imgUrl" width="100" height="100">
      <p>
        {{conductorAceptado.nombre}}
      </p>
      </div>

    </div>
  </div>

  <div *ngIf="interesadosMostrar" >
  <h2> Conductores interesados: </h2>

    <div *ngFor="let inter of interesadosMostrar" class="personas_interesadas">
      <div class="botones">
        <button (click)="aceptar(inter.uid)">Aceptar</button>
        <button (click)="rechazar(inter.uid)">Rechazar</button>
      </div>
      <div class="usuario" (click)="irAPerfil(inter.uid)">
        <img [ngSrc]="inter.imgUrl" width="100" height="100">
        <p>
          {{inter.nombre}}
        </p>
      </div>
      <br>
    </div>

  </div>

</div>

<br>
<div class="footer">
  <div class="notcontainer">
    <app-footer></app-footer>
  </div>
</div>
