<div class="edicion">
  <label position="floating" >Alias</label>
  <input required type="text" id="alias" [(ngModel)]="alias">
  <br>
  <label position="floating">Matricula</label>
  <input required type="text" id="matricula"  [(ngModel)]="matricula">
  <br>
  <label position="floating">Numero de plazas</label>
  <input required type="number" id="plazas"  [(ngModel)]="plazas">
</div>

<div class="edicion">
  <button (click)="guardarCambiosCoche()">Guardar</button>
</div>

<br>
<div class="footer">
  <div class="notcontainer">
    <app-footer></app-footer>
  </div>
</div>
