<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content"></div>

<div class="footer">
  <div class="row" style="color: white">
    <div class="col-sm-12 col-md-4" style="background-color: black;">
      <h2>Redes sociales</h2>
      <br>
      <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/GameOverGlitch" class="social-icon"> <i class="fa fa-twitter"> @GameOverGlitch</i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4" style="background-color: black;">
      <h2>¿Qué es esta aplicación?</h2>
      <br>
      <p>Esto es un proyecto hecho con Angular</p>
      <br>
      <p>Actualmente se está desarrollando</p>
      <br>
      <p>A día de hoy 15/05 queda un mes lmao</p>
    </div>
    <div class="col-sm-12 col-md-4" style="background-color: black;">
      <h2>Columna 3</h2>
      <p>No sé qué poner lol</p>
    </div>
  </div>
</div>
