<br>

<div class="container">
  <button (click)="irADashboard()" *ngIf="isAdmin" class="izquierdo" >Dashboard</button>
  <h1 class="centrado">{{nombre}}</h1>
  <button (click)="Editar()" class="derecho">Editar</button>
</div>

<br>

<div class="perfil-container">
  <div *ngIf="loading" class="spinner"></div>
  <img src="{{img}}" class="imagen-perfil" (load)="onImageLoad()">
</div>

<br>

<div class="descripcion" [innerHTML]="descripcion">
</div>
<br>

<select id="segmento" name="segmento" (change)="Busqueda($event)">
  <option value="Pasajeros">Peticiones</option>
  <option value="Conductores">Transportes ofrecidos</option>
  <option *ngIf="isAdmin" value="Mis-Noticias">Mis noticias</option>
</select>

<div *ngIf="opcionSeleccionada === 'Pasajeros'">
  <div *ngFor="let peticion of PeticionesUsuario">
      <button class="prueba" (click)="eliminarPeticion(peticion)">Eliminar</button>

      <button class="prueba" (click)="editarPeticion(peticion)">Editar</button>

    <div class="card my-card" >
      <img class="card-img-top" src="{{peticion.url}}"  alt="Card image cap">
      <div class="card-body">
        <img class="logo-t" *ngIf="peticion.evento"  src="{{peticion.evento.images[0].url}}" alt="">
          <h4 class="card-title" *ngIf="peticion.evento">{{peticion.evento.name}}</h4>
        <h5 class="card-title">{{peticion.nombre}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{peticion.fecha}}</h6>
        <p class="card-text">{{peticion.descripcion}}</p>
      </div>
    </div>
    <br>
  </div>
</div>

<div *ngIf="opcionSeleccionada === 'Conductores'">
  <div *ngFor="let oferta of TransportesUsuario">
      <button class="prueba" (click)="eliminarOferta(oferta)">Eliminar</button>

      <button class="prueba" (click)="editarOferta(oferta)">Editar</button>

      <button class="prueba" (click)="verInteresados(oferta)">Interesados</button>
    <div class="card my-card" >
      <img class="card-img-top" src="{{oferta.url}}"  alt="Card image cap">
      <div class="card-body">
        <img class="logo-t" *ngIf="oferta.evento"  src="{{oferta.evento.images[0].url}}" alt="">
          <h4 class="card-title" *ngIf="oferta.evento">{{oferta.evento.name}}</h4>
        <h5 class="card-title">{{oferta.nombre}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{oferta.fecha}}</h6>
        <p class="card-text">{{oferta.descripcion}}</p>
      </div>
    </div>
    <br>
  </div>
</div>



<div *ngIf="opcionSeleccionada === 'Mis-Noticias'">
  <div *ngFor="let noticia of NoticiasUsuario" >
    <div class="card my-card" >
      <h4 class="card-title" >{{noticia.titulo}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">Autor: {{noticia.nombre_user}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{noticia.subtitulo}}</h6>
      <!--<div class="card-body" [innerHTML]="noticia.contenido"></div>-->
    </div>
    <br>
  </div>
</div>
