<br>
<div *ngIf="isBan" >
  <div class="aviso">
    <p class="mensaje">Este usuario está baneado.</p>
  </div>

</div>
<div *ngIf="!isBan" >

  <div class="loading" *ngIf="!cargaPerfil" >Loading&#8230;</div>

<div *ngIf="cargaPerfil">
  <div *ngFor="let user of usuarioActual" >
    <p>{{user.nombre}}</p>

  <img src="{{user.imgUrl}}" class="imagen-perfil">
  </div>
  <br>
  <select id="segmento" name="segmento" (change)="Busqueda($event)">
    <option value="Pasajeros">Peticiones</option>
    <option value="Conductores">Transportes ofrecidos</option>

  </select>

  <div *ngIf="opcionSeleccionada === 'Pasajeros'">
    <div *ngFor="let peticion of PeticionesUsuario">
      <div class="card my-card" >
        <img class="card-img-top" src="{{peticion.url}}"  alt="Card image cap">
        <div class="card-body">
          <img class="logo-t" *ngIf="peticion.evento"  src="{{peticion.evento.images[0].url}}" alt="">
            <h4 class="card-title" *ngIf="peticion.evento">{{peticion.evento.name}}</h4>
          <h5 class="card-title">{{peticion.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{peticion.fecha}}</h6>
          <p class="card-text">{{peticion.descripcion}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div *ngIf="opcionSeleccionada === 'Conductores'">
    <div *ngFor="let peticion of TransportesUsuario">
      <div class="card my-card" >
        <img class="card-img-top" src="{{peticion.url}}"  alt="Card image cap">
        <div class="card-body">
          <img class="logo-t" *ngIf="peticion.evento"  src="{{peticion.evento.images[0].url}}" alt="">
            <h4 class="card-title" *ngIf="peticion.evento">{{peticion.evento.name}}</h4>
          <h5 class="card-title">{{peticion.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{peticion.fecha}}</h6>
          <p class="card-text">{{peticion.descripcion}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

</div>
