<br>
<div *ngIf="isBan" >
  <div class="aviso">
    <p class="mensaje">Este usuario está baneado.</p>
  </div>
</div>
<div *ngIf="!isBan" >

  <div class="loading" *ngIf="!cargaPerfil" >Loading&#8230;</div>

<div *ngIf="cargaPerfil">

  <button (click)="chatear()">Chatear</button>
  <button (click)="mostrarContenido = !mostrarContenido">Reportar</button>

  <div *ngIf="mostrarContenido" >
    <textarea placeholder="Da informacion adicional sobre el reporte" rows="10" cols="50" maxlength="450" [(ngModel)]="descripcionRep"></textarea>
    <br>
    <button (click)="reportar()">Enviar informacion</button>
  </div>

  <div *ngFor="let user of usuarioActual" >
    <p>{{user.nombre}}</p>

  <img src="{{user.imgUrl}}" class="imagen-perfil">

  <br>
  <div class="descripcion" [innerHTML]="user.descripcion">
  </div>
  </div>

  <div>
    <div class="container">
      <div class="feedback"  *ngFor="let user of usuarioActual">
        <div class="rating">
          <input type="radio" name="rating" id="rating-5" value="5" (input)="ObtenerCalificacion($event)" [(ngModel)]="calificacion" [checked]="calificacion === 5">
          <label for="rating-5"></label>
          <input type="radio" name="rating" id="rating-4" value="4" (input)="ObtenerCalificacion($event)" [(ngModel)]="calificacion" [checked]="calificacion === 4">
          <label for="rating-4"></label>
          <input type="radio" name="rating" id="rating-3" value="3" (input)="ObtenerCalificacion($event)" [(ngModel)]="calificacion" [checked]="calificacion === 3">
          <label for="rating-3"></label>
          <input type="radio" name="rating" id="rating-2" value="2" (input)="ObtenerCalificacion($event)" [(ngModel)]="calificacion" [checked]="calificacion === 2">
          <label for="rating-2"></label>
          <input type="radio" name="rating" id="rating-1" value="1" (input)="ObtenerCalificacion($event)" [(ngModel)]="calificacion" [checked]="calificacion === 1">
          <label for="rating-1"></label>
        </div>
        <div *ngIf="user.calificacionMedia">({{user.calificacionMedia}})</div>
      </div>
    </div>
  </div>


  <br>
  <select id="segmento" name="segmento" (change)="Busqueda($event)">
    <option value="Pasajeros">Peticiones</option>
    <option value="Conductores">Transportes ofrecidos</option>

  </select>

  <div *ngIf="opcionSeleccionada === 'Pasajeros'">
    <div *ngFor="let peticion of PeticionesUsuario">
      <div class="card my-card" (click)="verDatosPeticion(peticion)" style="cursor: pointer;">
        <img class="card-img-top" src="{{peticion.url}}"  alt="Card image cap">
        <div class="card-body">
          <img class="logo-t" *ngIf="peticion.evento"  src="{{peticion.evento.images[0].url}}" alt="">
            <h4 class="card-title" *ngIf="peticion.evento">{{peticion.evento.name}}</h4>
          <h5 class="card-title">{{peticion.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{peticion.fecha}}</h6>
          <p class="card-text">{{peticion.descripcion}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div *ngIf="opcionSeleccionada === 'Conductores'">
    <div *ngFor="let peticion of TransportesUsuario">
      <div class="card my-card" (click)="verDatosTransporte(peticion)" style="cursor: pointer;">
        <img class="card-img-top" src="{{peticion.url}}"  alt="Card image cap">
        <div class="card-body">
          <img class="logo-t" *ngIf="peticion.evento"  src="{{peticion.evento.images[0].url}}" alt="">
            <h4 class="card-title" *ngIf="peticion.evento">{{peticion.evento.name}}</h4>
          <h5 class="card-title">{{peticion.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{peticion.fecha}}</h6>
          <p class="card-text">{{peticion.descripcion}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

</div>
