<br>

<div class="labels-container">
  <label for="matricula" class="label-floating">Matricula</label>
  <input required type="string" id="matricula" (input)="ObtenerMatricula($event)" pattern="[A-Za-z]{3}">

  <label for="alias" class="label-floating">Alias</label>
  <input required type="string" id="alias" (input)="ObtenerAlias($event)">

  <label for="alias" class="label-floating">Número de plazas</label>
  <input required type="number" id="plazas" (input)="ObtenerPlazas($event)">
</div>

  <br>
  <br>
  <button type="button" class="btn btn-primary" (click)="SubirCoche()">
    Registrar matrícula
  </button>

  <h1>Mis vehiculos</h1>

  <div *ngFor="let coche of misVehiculos">
    <div class="card">
      <button>Borrar</button>
      <button (click)="Editar(coche)">Editar</button>
      <div class="card-body">
        <h5 class="card-title">{{coche.alias}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{coche.matricula}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Plazas: {{coche.plazas}}</h6>
      </div>
    </div>
    <br>
  </div>
