<br>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <label for="matricula" class="label-floating">Matricula</label>
      <br>
      <input required type="string" id="matricula" (input)="ObtenerMatricula($event)" pattern="[A-Za-z]{3}">
    </div>
    <br>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <label for="alias" class="label-floating">Alias</label>
      <br>
      <input required type="string" id="alias" (input)="ObtenerAlias($event)">
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <label for="plazas" class="label-floating">Número de plazas</label>
      <br>
      <input required type="number" id="plazas" (input)="ObtenerPlazas($event)">
    </div>
  </div>
</div>


  <br>
  <br>
  <button type="button" class="btn btn-primary" (click)="SubirCoche()">
    Registrar matrícula
  </button>

  <h1>Mis vehiculos</h1>

  <div *ngFor="let coche of misVehiculos">
    <div class="button-container">
      <button class="prueba" (click)="Borrar(coche.id)">Borrar</button>
      <button class="prueba" (click)="Editar(coche)">Editar</button>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{coche.alias}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{coche.matricula}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Plazas: {{coche.plazas}}</h6>
      </div>
    </div>
    <br>
  </div>
