<br>

<div class="topnav">
  <button class="boton-anterior" (click)="onBack()" [disabled]="!canGoBack()">Atras</button>
  <button class="boton-siguiente" (click)="onForward()" [disabled]="!canGoForward()">Adelante</button>
  <br>
  <input type="text" placeholder="Search.." (input)="ObtenerNombre($event)">
</div>
<br>

<div *ngFor="let data of datosFiltrados.slice(currentUserIndex, currentUserIndex + usersPerPage)" (click)="irAPerfil(data.uid)">
<div *ngIf="data.isDisabled" >

</div>

<div *ngIf="!data.isDisabled" >
  <div class="card">
    <img class="imagen-perfil"src={{data.imgUrl}} alt="Avatar" >
    <div class="container">
      <h4><b>{{data.nombre}}</b></h4>
    </div>
  </div>
</div>

</div>
<br>

<div class="footer" *ngIf="datosFiltrados" >
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
