<br>
<div>
  <select class="Busqueda" id="segmento" name="segmento" (change)="Filtro($event)">
    <option value=''>Buscar por...</option>
    <option value="nombre">Nombre de usuario</option>
    <option value="fecha">Fecha</option>
    <option value="precio">Precio</option>
    <option value="evento.name">Nombre de evento</option>
  </select>

  <input *ngIf="BuscarPor && BuscarPor != ''"  type="text" placeholder="Filtro por" (input)="ObtenerFiltro($event)">
  <select class="segmento" id="segmento" name="segmento" (change)="Busqueda($event)">
    <option value="Conductores">Conductores</option>
    <option value="Pasajeros">Pasajeros</option>
  </select>

  <br>
  <div *ngIf="opcionSeleccionada === 'Pasajeros'">
    <button type="button" class="btn btn-primary" (click)="mostrarContenido = !mostrarContenido">
      Da la información de la peticion
    </button>

    <br>
    <br>
    <button (click)="onBackP()" [disabled]="!canGoBackP()">Atras</button>
    <button (click)="onForwardP()" [disabled]="!canGoForwardP()">Adelante</button>

    <br>
    <div *ngIf="mostrarContenido">
      <label position="floating" >Fecha de ida</label>
      <br>
      <input required type="date" id="date" (input)="ObtenerFecha($event)" [(ngModel)]="fecha">
      <label position="floating" >Eventos</label>

      <select class="segmento" id="vehiculo" name="vehiculo" (change)="Evento($event)" >
        <option value=null>- Seleccione un evento -</option>
        <option class="select-image-option" *ngFor="let evento of eventos" value="{{evento.id}}">
          {{ evento.name}}
        </option>
      </select>

      <br>
      <label position="floating">Precio</label>
      <input required type="number" id="precio" [(ngModel)]="precio">
      <br>

      <label position="floating" >Descripción</label>
      <textarea [(ngModel)]="descripcion" rows="10" cols="50" maxlength="450"></textarea>
      <br>

      <div *ngIf="!eventoSeleccionado" >
        <h2>Aviso: Si un evento no aparece en la sección para elegir evento, porfavor, rellene lo siguiente: </h2>
        <label class="mi-label" position="floating">Nombre del evento</label>
        <input type="text" placeholder="Nombre del evento al que quieres ir" [(ngModel)]="tituloAlternativo">

        <br>
        <label class="mi-label" position="floating">Descripción del evento</label>
        <textarea rows="10" cols="50" maxlength="700" placeholder="Da una descripción del evento" [(ngModel)]="descripcionAlternativa"></textarea>
      </div>

      <br>

      <button class="mi-boton" (click)="realizarPeticion()">Pedir peticion</button>
      <br>
    </div>


    <div *ngFor="let peticion of Peticiones.slice(currentPageIndexPeticiones, currentPageIndexPeticiones + peticionesPerPage)">
      <br>
      <div class="card" >
        <img class="card-img-top" src="{{peticion.url}}"  alt="Card image cap" (click)="irAPerfil(peticion.nombre)" style="cursor: pointer;">
        <div class="card-body" style="cursor: pointer;"  (click)="verDatosPeticion(peticion)">
          <img class="logo-t" *ngIf="peticion.evento"  src="{{peticion.evento.images[0].url}}" alt="">
          <h4 class="card-title" *ngIf="peticion.evento">{{peticion.evento.name}}</h4>
          <h4 class="card-title" *ngIf="peticion.tituloAlternativo" >{{peticion.tituloAlternativo}}</h4>
          <h5 class="card-title">{{peticion.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{peticion.fecha}}</h6>

          <p class="card-text">{{peticion.descripcion}}</p>
        </div>
      </div>
      <br>
    </div>


  </div>
  <div *ngIf="opcionSeleccionada === 'Conductores'">
    <button type="button" class="btn btn-primary mi-boton-toggle" (click)="mostrarContenido = !mostrarContenido">
      Da la información de la oferta
    </button>
    <br>

    <br>
    <button (click)="onBackO()" [disabled]="!canGoBackO()">Atras</button>
    <button (click)="onForwardO()" [disabled]="!canGoForwardO()">Adelante</button>
    <br>

    <div *ngIf="mostrarContenido" class="mi-contenedor">
      <label class="mi-label" position="floating">Fecha de ida</label>

      <input required type="date" id="date" (input)="ObtenerFecha($event)" [(ngModel)]="fecha" class="mi-input">

      <br>

      <label class="mi-label" position="floating">Coche</label>

      <select class="segmento" id="vehiculo" name="vehiculo" (change)="Alias($event)" class="mi-select">
        <ng-container *ngIf="misVehiculos.length > 0; else noVehiculos">
          <option value="">- Seleccione un coche -</option>
          <option *ngFor="let vehiculo of misVehiculos" value="{{vehiculo.id}}">{{ vehiculo.alias }}</option>
        </ng-container>
        <ng-template #noVehiculos>
          <option value="">- No tiene coches registrados -</option>
        </ng-template>
      </select>


      <br>

      <label class="mi-label" position="floating">Eventos</label>

      <select class="segmento" id="evento" name="evento" (change)="Evento($event)" class="mi-select">
        <option value=null>- Seleccione un evento -</option>
        <option class="select-image-option" *ngFor="let evento of eventos" value="{{evento.id}}">
          {{ evento.name}}
        </option>
      </select>

      <br>

      <label class="mi-label" position="floating">Precio</label>
      <input required type="number" id="precio" [(ngModel)]="precio" placeholder="Indique el precio" class="mi-input">
      <br>

      <label class="mi-label" position="floating">Descripción corta</label>
      <textarea [(ngModel)]="descripcion" rows="10" cols="50" maxlength="250" placeholder="Da una pequeña descripción" class="mi-textarea"></textarea>

      <br>
      <div *ngIf="!eventoSeleccionado" >
        <h2>Aviso: Si un evento no aparece en la sección para elegir evento, porfavor, rellene lo siguiente: </h2>
        <label class="mi-label" position="floating">Nombre del evento</label>
        <input type="text" placeholder="Nombre del evento al que quieres ir" [(ngModel)]="tituloAlternativo">

        <br>
        <label class="mi-label" position="floating">Descripción del evento</label>
        <textarea rows="10" cols="50" maxlength="700" placeholder="Da una descripción del evento" [(ngModel)]="descripcionAlternativa"></textarea>
      </div>

      <br>
      <button class="btn btn-success mi-boton-ofrecer" (click)="ofrecerTransporte()">Ofrecer transporte</button>
    </div>
    <br>
    <br>

    <div *ngFor="let transporte of TransportesFiltrados.slice(currentPageIndexOfertas, currentPageIndexOfertas + ofertasPerPage)">
      <div class="card">
        <img class="card-img-top" src="{{transporte.url}}"  alt="Card image cap" (click)="irAPerfil(transporte.nombre)" style="cursor: pointer;">
        <div class="card-body" (click)="verDatosTransporte(transporte)" style="cursor: pointer;">
          <img class="logo-t" *ngIf="transporte.evento"  src="{{transporte.evento.images[0].url}}" alt="">
          <h4 class="card-title" *ngIf="transporte.evento">{{transporte.evento.name}}</h4>
          <h4 class="card-title" *ngIf="transporte.tituloAlternativo">{{transporte.tituloAlternativo}}</h4>
          <h5 class="card-title">{{transporte.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{transporte.fecha}}</h6>
          <p class="card-text">{{transporte.descripcion}}</p>

        </div>
      </div>
      <br>
    </div>

  </div>

</div>

