header {
  background-color: black;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right:0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

nav a {
  left: 5;
  right:5;
  display: block; /* Establece los elementos a como bloques */
  border-bottom: 1px solid white; /* Agrega una línea blanca debajo de cada elemento a */
  border-top: 1px solid white; /* Agrega una línea blanca debajo de cada elemento a */
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 10px; /* Agrega un espacio de relleno para separar los elementos */
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-left: 14%;
  margin-right: 14%;
}

