header {
  background-color: black;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right:0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  color: #fff;
  text-decoration: none;
}

nav a {
  left: 5;
  right:5;
  display: block; /* Establece los elementos a como bloques */
  border-bottom: 1px solid white; /* Agrega una línea blanca debajo de cada elemento a */
  border-top: 1px solid white; /* Agrega una línea blanca debajo de cada elemento a */
  padding: 10px; /* Agrega un espacio de relleno para separar los elementos */
}
