<div class="container">
  <input type="text" [(ngModel)]="nombre" class="centrado" maxlength="20">

  <button (click)="GuardarCambios()" class="derecho">Guardar</button>
</div>

<br>
<br>

<div class="upload-container">
  <input type="file" accept=".jpg, .png, .jpeg" (change)="cargarImagen($event)">
</div>


<br>

<div class="perfil-container">
  <div *ngIf="loading" class="spinner"></div>
  <img [src]="img" class="imagen-perfil" (load)="onImageLoad()">
</div>
<br>

<br>

<h2>Modifica la descripción</h2>

<textarea rows="10" cols="50" maxlength="450" [(ngModel)]="descripcion"></textarea>
