<div class="container">
  <h1 class="centrado" contenteditable="true">{{nombre}}</h1>
  <button (click)="GuardarCambios()" class="derecho">Guardar</button>
</div>

<br>

<div class="perfil-container">
  <div *ngIf="loading" class="spinner"></div>
  <img [src]="img" class="imagen-perfil" (load)="onImageLoad()">
</div>
<br>
<label for="img">Select image:</label>
<input type="file" accept=".jpg, .png, .jpeg" (change)="cargarImagen($event)">


<br>

<textarea rows="10" cols="50" maxlength="450" [(ngModel)]="descripcion"></textarea>
