<div class="botones-navegacion">
  <button class="boton-anterior" (click)="onBack()" [disabled]="!canGoBack()">Atras</button>
  <button class="boton-siguiente" (click)="onForward()" [disabled]="!canGoForward()">Adelante</button>
</div>
<br>

<div *ngFor="let noticia of noticias.slice(currentNoticiaIndex, currentNoticiaIndex + noticiasPerPage)">
  <div class="card my-card" (click)="irANoticia(noticia.titulo)" style="cursor: pointer;">
    <img class="card-img-top" src="{{noticia.imagen}}"  alt="Card image cap">
    <hr>
    <h4 class="card-title" >{{noticia.titulo}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Autor: {{noticia.nombre_user}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{noticia.subtitulo}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{noticia.fecha_creacion}}</h6>
    <!--<div class="card-body" [innerHTML]="noticia.contenido"></div>-->
  </div>
  <br>
</div>

<div class="footer" *ngIf="noticias" >
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
