<br>
<h1>Bienvenido</h1>

<div class="topnav">

</div>

<select id="segmento" name="segmento" (change)="Busqueda($event)">
  <option value="Usuarios">Usuarios</option>
  <option value="Transportes">Transportes</option>
  <option value="Peticiones">Peticiones</option>
  <option value="Lista_Negra">Lista Negra</option>
</select>
<div *ngIf="opcionSeleccionada === 'Usuarios'">
  <h2>Usuarios</h2>

  <input type="text" placeholder="Search.." (input)="ObtenerNombre($event)">
  <br>
<div *ngFor="let usuario of usuarios" >
  <div class="card">
    <button class="delete-button" (click)="eliminarUsuario(usuario)">Eliminar</button>
    <img class="imagen-perfil"src={{usuario.imgUrl}} alt="Avatar">
    <div class="container">
      <h4><b>{{usuario.nombre}}</b></h4>
      <p>{{usuario.uid}}</p>
    </div>
  </div>
  <br>
</div>
</div>

<div *ngIf="opcionSeleccionada === 'Transportes'" >
  <h2>Transportes</h2>

  <input type="text" placeholder="Search.." (input)="ObtenerNombre($event)">
  <br>

<div *ngFor="let transporte of transportes" >
  <div class="card">
    <button class="delete-button" (click)="eliminarTransporte(transporte)">Eliminar</button>
    <img class="imagen-perfil"src={{transporte.url}} alt="Avatar">
    <div class="container">
      <h4><b>{{transporte.nombre}}</b></h4>
      <p>{{transporte.evento?.name}}</p>
    </div>
  </div>
</div>
</div>

<div *ngIf="opcionSeleccionada === 'Peticiones'" >
  <h2>Peticiones</h2>
  <input type="text" placeholder="Search.." (input)="ObtenerNombre($event)">
  <br>
<div *ngFor="let peticion of peticiones" >
  <div class="card">
    <button class="delete-button" (click)="eliminarPeticion(peticion)">Eliminar</button>
    <img class="imagen-perfil"src={{peticion.url}} alt="Avatar">
    <div class="container">
      <h4><b>{{peticion.nombre}}</b></h4>
      <p>{{peticion.evento?.name}}</p>
    </div>
  </div>
</div>
</div>

<div *ngIf="opcionSeleccionada === 'Lista_Negra'">
  <h2>Usuarios</h2>

  <input type="text" placeholder="Search.." (input)="ObtenerNombre($event)">
  <br>
  <div *ngFor="let usuario of lista_negra" >
    <div class="card">
      <button class="delete-button" (click)="perdonarUsuario(usuario)">Desbanear</button>
      <img class="imagen-perfil"src={{usuario.imgUrl}} alt="Avatar" >
      <div class="container">
        <h4><b>{{usuario.nombre}}</b></h4>
        <p>{{usuario.uid}}</p>
      </div>
    </div>
    <br>
  </div>
</div>

