<br>
<h1>Bienvenido</h1>

<div class="topnav">

</div>

<select id="segmento" name="segmento" (change)="Busqueda($event)">
  <option value="Usuarios">Usuarios</option>
  <option value="Transportes">Transportes</option>
  <option value="Peticiones">Peticiones</option>
  <option value="Reportes">Reportes</option>
  <option value="Lista_Negra">Lista Negra</option>
  <option value="Noticias">Noticias</option>
</select>
<div *ngIf="opcionSeleccionada === 'Usuarios'">
  <h2>Usuarios</h2>

  <input type="text" placeholder="Busqueda de nombre.." (input)="ObtenerNombreUsuario($event)">
  <br>
  <br>
<div *ngFor="let usuario of usuariosFiltrados" >
  <div class="card">
    <button class="delete-button" (click)="eliminarUsuario(usuario)">Eliminar</button>
    <img class="imagen-perfil"src={{usuario.imgUrl}} alt="Avatar" (click)="irAPerfil(usuario.nombre)">
    <div class="container">
      <h4><b>{{usuario.nombre}}</b></h4>
      <p>{{usuario.uid}}</p>
    </div>
  </div>
  <br>
</div>
</div>

<div *ngIf="opcionSeleccionada === 'Transportes'" >
  <h2>Transportes</h2>

  <input type="text" placeholder="Busqueda de nombre.." (input)="ObtenerNombreTransporte($event)">
  <br>
  <br>
<div *ngFor="let transporte of transportesFiltrados" >
  <div class="card">
    <button class="delete-button" (click)="eliminarTransporte(transporte)">Eliminar</button>
    <img class="imagen-perfil"src={{transporte.url}} alt="Avatar" (click)="irAPerfil(transporte.nombre)">
    <div class="container">
      <h4><b>{{transporte.nombre}}</b></h4>
      <p>{{transporte.evento?.name}}</p>
    </div>
  </div>
  <br>
</div>
</div>

<div *ngIf="opcionSeleccionada === 'Peticiones'" >
  <h2>Peticiones</h2>
  <input type="text" placeholder="Busqueda de nombre.." (input)="ObtenerNombrePeticiones($event)">
  <br>
  <br>
<div *ngFor="let peticion of peticionesFiltradas" >
  <div class="card">
    <button class="delete-button" (click)="eliminarPeticion(peticion)">Eliminar</button>
    <img class="imagen-perfil"src={{peticion.url}} alt="Avatar" (click)="irAPerfil(peticion.nombre)">
    <div class="container">
      <h4><b>{{peticion.nombre}}</b></h4>
      <p>{{peticion.evento?.name}}</p>
    </div>
  </div>
  <br>
</div>
</div>

<div *ngIf="opcionSeleccionada === 'Lista_Negra'">
  <h2>Usuarios</h2>

  <input type="text" placeholder="Busqueda de nombre.." (input)="ObtenerNombreBan($event)">
  <br>
  <br>
  <div *ngFor="let usuario of lista_negra_filtrada" >
    <div class="card">
      <button class="delete-button" (click)="perdonarUsuario(usuario)">Desbanear</button>
      <img class="imagen-perfil"src={{usuario.imgUrl}} alt="Avatar" (click)="irAPerfil(usuario.nombre)">
      <div class="container">
        <h4><b>{{usuario.nombre}}</b></h4>
        <p>{{usuario.uid}}</p>
      </div>
    </div>
    <br>
  </div>
</div>

<div *ngIf="opcionSeleccionada === 'Noticias'">

  <br>
  <h1>Título</h1>
  <br>
  <input type="text" class="titulo" placeholder="Escribe aquí el título" maxlength="50" [(ngModel)]="titulo">
  <div>{{titulo.length}} / 50 caracteres</div>


  <br>
  <h2>Sub-título</h2>
  <br>
  <input type="text" class="subtitulo" placeholder="Escribe aquí el subtítulo" maxlength="50" [(ngModel)]="subtitulo">
  <div>{{subtitulo.length}} / 50 caracteres</div>


  <br>

  <h2>Contenido</h2>

  <div id="botones">
    <button onclick="document.execCommand('bold', false, null)"><b>Negrita</b></button>
    <button onclick="document.execCommand('italic', false, null)"><i>Cursiva</i></button>
    <button onclick="document.execCommand('underline', false, null)"><u>Subrayado</u></button>
    <select onchange="document.execCommand('fontSize', false, this.value);">
      <option value="">Tamaño de letra</option>
      <option value="1">8</option>
      <option value="2">10</option>
      <option value="3">12</option>
      <option value="4">14</option>
      <option value="5">18</option>
      <option value="6">24</option>
      <option value="7">36</option>
    </select>

    <select class="color" onchange="document.execCommand('foreColor', false, this.value);">
      <option value="">Color de letra</option>
      <option class="negro" value="black">Negro</option>
      <option class="rojo" value="red">Rojo</option>
      <option class="azul" value="blue">Azul</option>
      <option class="verde" value="green">Verde</option>
      <option class="naranja" value="orange">Naranja</option>
      <option class="morado" value="purple">Morado</option>
    </select>
    <button class="boton-vinetas" onclick="document.execCommand('insertUnorderedList', false, null);">Lista no ordenada</button>
    <button class="boton-vinetas" onclick="document.execCommand('insertOrderedList', false, null);">Lista ordenada</button>

    <button onclick="document.execCommand('justifyleft', false, null)"><i class="fas fa-align-left"></i></button>
    <button onclick="document.execCommand('justifycenter', false, null)"><i class="fas fa-align-center"></i></button>
    <button onclick="document.execCommand('justifyright', false, null)"><i class="fas fa-align-right"></i></button>
    <button onclick="document.execCommand('justifyfull', false, null)"><i class="fas fa-align-justify"></i></button>
    <button (click)="addLink()">Agregar enlace</button>

    <br>
    <button (click)="mostrarEmojis()">🙂</button>

    <div id="emojis" [hidden]="!mostrandoEmojis" style="display: flex; flex-wrap: wrap;">
      <span *ngFor="let emoji of emojis" (click)="insertarEmoji(emoji.emoji)" style="margin-right: 10px;">{{emoji.emoji}}</span>
    </div>

  </div>

  <br>

  <div id="editor" contenteditable="true" (input)="onEditorInput($event)">

  </div>
  <br>

  <button (click)="guardarNoticia()">Guardar</button>



  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</div>

<div *ngIf="opcionSeleccionada === 'Reportes'" >
  <br>
  <h1>Reportes</h1>
  <br>
  <div *ngFor="let r of reportes">
    <div class="card">

      <div *ngIf="r.usuario" (click)="irAPerfil(r.usuario.nombre)">
        <h2>{{r.usuario.nombre}}</h2>
        <br>
        <img class="imagen-perfil"src={{r.usuario.imgUrl}} alt="Avatar">
        <br>

      </div>
      <hr>
      {{r.asunto}}

    </div>
    <br>
  </div>
</div>
