<div *ngIf="transporteAEditar" >

  <div class="card">
    <img class="imagenUrl" src="{{transporteAEditar.url}}" alt="perfil">
    <div class="card-body">
      <h5 class="card-title">{{transporteAEditar.nombre}}</h5>
    </div>
  </div>

  <div>
    <label position="floating" >Fecha de ida</label>
    <br>
    <input required type="date" id="date" [(ngModel)]="fecha">
    <br>
    <label position="floating">Eventos</label>
    <br>
    <select name="eventos" id="eventos" (change)="logEventos($event)">
        <option value=null>{{eventoEditarNombre}}</option>
        <option value=null>-Selecciona un evento-</option>
        <option class="select-image-option" *ngFor="let evento of eventos" value="{{evento.id}}"  >
          {{ evento.name}}
        </option>
    </select>

    <div *ngIf="!eventoEditarNombre" >
      <label class="mi-label" position="floating">Nombre del evento</label>
      <br>
      <input type="text" placeholder="Nombre del evento al que quieres ir" [(ngModel)]="tituloAlternativo">
      <br>
      <label class="mi-label" position="floating">Descripción del evento</label>
      <br>
      <textarea rows="10" cols="50" maxlength="700" placeholder="Da una descripción del evento" [(ngModel)]="descripcionAlternativa"></textarea>
    </div>
    <br>
    <div *ngIf="cocheActual" >

      <label position="floating">Mis coches</label>
    <br>
    <select name="coches" id="coches" (change)=" logCoches($event)">
      <option value={{cocheActual.id}}>{{cocheActual.alias}}</option>
      <option class="select-image-option" *ngFor="let coche of coches" value="{{coche.id}}">
        {{ coche.alias}}
      </option>
    </select>
    </div>

        <label position="floating">Precio</label>
        <br>
        <input required type="number" id="precio" [(ngModel)]="precioEditar">
    <br>
    <label position="floating" >Descripción</label>
    <br>
    <textarea rows="10" cols="50" maxlength="450" [(ngModel)]="descripcion"></textarea>
  </div>


  <button (click)="guardarEdicion(transporteAEditar.id)">Guardar</button>

</div>
