

.aviso {
  background-color: #ff3333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.mensaje {
  font-weight: bold;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}


.menu {
  width: 30%;
}

.seleccion {
  width: 70%;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
}
